*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    display: flex;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px , solid rgba(255, 255,255,0.3);
    background-color: rgba(255, 255,255,0.1);
    box-shadow: 0px, 0px, 30px, rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
}


.clock span{
    position: absolute;
    transform: rotate(calc(30deg* var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 5px;
    height: var(--h);
    border-radius: 9px;
}

.digital-clock{
    position: absolute;
    display: flex;
    margin-top: 20%;
}